/*Основа*/

* {
	font-family: "Comfortaa", sans-serif;
    transition: 0.7s all;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}
body {
	margin: 0;
	padding: 0;

}

img {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.soon{
	background-size: 100%;
	background: url(../img/soon.jpg) center no-repeat;
	padding-top: 400px;
	padding-bottom: 500px;
	-webkit-background-size: cover;
	color: #ffffff;
}


.wrapper {
	width: 75%;
	margin: 0 auto;
}

.main-header p {
	text-align: center;
}

.shadow{/*
	height: 120vh;*/
	background: rgba(0,0,0,.5);
	padding-bottom: 20px;
}

/*Хедер*/
header {
	width: 100%;
	top: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	color: #fff;
	background: #212326;
	padding: 5px 0;
	margin-bottom: 10px;
	width: 100%;
	position: fixed;
	top: 0;
}

.logo {
	margin-left: 10%;
}
.logo span {
	color: #3e84da;
	font-family: Righteous;
}
.logo span:hover{
	color: #ffcc00;
}
.logo h1 {
	font-size: 28px;
	font-family: Righteous;
	margin: 0;
	padding: 0;
	line-height: 48px;
}
nav {
	margin-right: 10%;
}

.top-nav ul {
	display: flex;

}

.top-nav li {
	margin-right: 35px;
}
.icon {
	display: none;
}
.top-nav a {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}
.top-nav a:hover {
	color: #3e84da;
}
.main-header {
	padding-top: 200px;
	padding-bottom: 160px;/*
	height: 110%;*/
	overflow: scroll;
	background: url(../img/bg-main.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #ffffff;
	
}

/* хром, сафари */
.main-header::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.main-header { -ms-overflow-style: none; }

.main-header { overflow: -moz-scrollbars-none; }


.main-header h2 {
	font-size: 60px;
	text-align: center;
	font-weight: 700;
	padding-top: 20px;
	font-family: "Righteous", sans-serif;
}
.main-header span {
	color: #3e84da;
	transition: 0.3s;
	font-family: "Righteous", sans-serif;
}
.main-header span:hover {
	color: #ffcc00;
}

.main-header strong {
	font-family: Righteous;
}

.main-header h3 {
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	margin-top: 100px;

}

.main-header p {
	font-size: 22px;
	font-weight: 300;
}
.main-links {
	text-align: center;
	font-size: 9pt;

}

.link {
	display: inline-block;
	margin: 30px;
}

.link a {
	color: #ffffff;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	background-color: rgba(100,100,100,.4); 
}

.link a:hover {
	background-color: rgba(100,100,100,.8); 
}

.project {
	background-color: #3e84da;
	padding-top: 30px;
	padding-bottom: 90px;
	background-size:100%;
	color: #ffffff;
}

.project h2 {
	font-size:  55px;
	text-align: center;
	padding-top: 80px;

}

.project-features {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.feature {
	margin: 0px;
	padding: 0 25px;
}

.feature h3 {
	margin-top: 50px;
	font-size: 60px;
	color: #ffffff;
}
.feature h3:hover {
	color: #ffcc00;

}
.feature h4 {
	font-size: 20px;
}
.feature p {
	font-size: 15px;
	font-weight: 300;
}

.about h2 {
	margin-top: 100px;
	font-size: 55px;
	text-align: center;
}

.about p {
	font-size: 20px;
	font-weight: 300;
	text-align: justify;
}

.person img {
	width: 180px;
	border-radius: 50%;
}
.person h3{
	color: #212326;
	font-size: 22px;
}
.person p {
	text-align: center;
	font-size: 16px;
}
.persons {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 30px;
}

.about-person {
	background-color: #3e84da;
	color: #ffffff;
	padding-bottom: 90px;
}
.about-person h2 {
	padding-top: 120px;
	margin-bottom: 70px;
}
.about-us {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.about-us-left {
	width: 38%;
	display: inline-block;
	line-height: 1.6;
}
.about-us-right {
	width: 58%;
	display: inline-block;
	height: 400px;
}
.contacts {
	background: url(../img/bg-contact.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 100px;
}
.contacts-logo h2 {
	font-size: 55px;
	text-align: center;
}

.input-contact {
	width: 40vh;
	height: 50px;
	padding: 5px 15px;
	border: none;
	border-radius: 10px;
	display: block;
	margin-top: 12px;
	font-size: 20px;
	font-weight: 300;
}
.contacts-logo p {
	text-align: center;
	font-size: 28px;
}
.contacts-right textarea {
	margin-top: 12px;
	padding: 10px 15px;
	width: 400px;
	height: 250px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
}
.contacts-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin-top: 55px;
}
.contacts-button {
	display: block;
	background-color: #ffcc00;
	border: none;
	padding: 20px 60px;
	font-size: 16px;
	margin: 12px 0;
	border-radius: 10px;
	cursor: pointer;
}
.contacts-left p {
	font-size: 25px;
	line-height: 0.9;

}
footer {
	padding: 5px;
	background: #212326;
	color: #ffffff;
}
footer p{
	line-height: 2.5;
}
.wrapper-footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.wrapper-footer p strong {
	font-family: Righteous;

}
.footer-nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.footer-nav li {
	margin: 10px 20px 0 20px;
}

.footer-nav a {
	color: #fff;
}
.footer-nav a:hover {
	color: #ffcc00;
}
.footer-links ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer-links li {
	margin-left: 20px;
	font-size: 30px;

}

.footer-links a {
	color: #fff;
}
.footer-links a:hover{
	color: #ffcc00;
}

@media screen and (max-width: 1010px){
	p  {
		line-height: 1.6;
	}
	.top-nav ul {
		display: none;
	}
	.header {
		min-height: 60px;
		box-sizing: border-box;
		margin-bottom: 0;
		padding: 0;
	}
	.main-header {
		height: 70vh;
	}
	.main-header p {
		line-height: 1.4;
	}
	.logo h1 {
		line-height: 2.6;
	}
	
	.contacts-right textarea {
/*		margin-top: 12px;
		padding: 10px 10px;*/
		width: 40vh;
		height: 15vh;
		margin-top: 12px;
		left: -60px;
	}

	.top-nav  {
		padding: 0;
	}
	.top-nav a.icon{
		color: #fff;
		display: block;
		padding: 0;
	}
	.icon p {
		font-size: 30px;
		margin: 0;
		margin-top: 22px;
		line-height: 1;
		padding: 0;
	}


	.project-features {
		display: grid;
		grid-template-columns: auto;
	}

	.persons {
		display: grid;
		grid-template-columns: auto; 
	}

	.about-person h2 {
		font-size: 27pt;
	}

	.contacts-logo h2{
		font-size: 27pt;
	}

	.contacts-box {
		display: grid;
		grid-template-columns: auto;
		text-align: center;
	}
	.contacts-left {
		text-align: center;
		font-size: 2pt; 
	}
    .contacts-button{
		margin-left: 23%;
	}
	.footer-nav {
		display: none;
	}
	.about-us {
		display: grid;
		grid-template-columns: auto;
	}
	.about-us-right {
		display: none;
	}
	.about-us-left {
		width: 100%;
	}

	/*Меню*/
	.top-nav.open ul {
		display: block;
		transition: 0.4s;
		width: 100%;

	}
	.top-nav li {
		display: block;
		margin-top: 10px;
		text-align: left;
			}




}

