/*Основа*/

* {
	font-family: "Comfortaa", sans-serif;
    transition: 0.5s all;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}
body {
	margin: 0;
	padding: 0;

}

img {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

.main-header p {
	text-align: center;
}

.shadow{/*
	height: 120vh;*/
	background: rgba(0,0,0,.5);
	padding-bottom: 20px;
}

/*Хедер*/
header {
	width: 100%;
	top: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	color: #fff;
	background: #212326;
	padding: 5px 0;
	margin-bottom: 10px;
	width: 100%;
	position: fixed;
	top: 0;
}

.logo {
	margin-left: 10%;
}
.logo span {
	color: #3e84da;
	font-family: Righteous;
}
.logo span:hover{
	color: #ffcc00;
}
.logo h1 {
	font-size: 28px;
	font-family: Righteous;
	margin: 0;
	padding: 0;
	line-height: 48px;
}
nav {
	margin-right: 5%;
}

.top-nav ul {
	display: flex;

}

.top-nav li {
	margin-right: 40px;
}

.icon {
	display: none;
}
.top-nav a {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}
.top-nav a:hover {
	color: #3e84da;
}
.main-header {
	padding-top: 200px;
	padding-bottom: 160px;/*
	height: 110%;*/
	overflow: scroll;/*
	background: url(../img/bg-main.jpg) center no-repeat;
	-webkit-background-size: cover;*/
	background-size: cover;
	color: #ffffff;
}

.parallax--bg{
	background: url(../img/bg-main.jpg) center no-repeat;
	-webkit-background-size: cover;
	transition: initial;
}

li .enter {
	border: 1px solid #ffcc00;
	padding: 8px 28px;
	background: #ffcc00;
	color: #000000;
	border-radius: 50px;
}
li .enter:hover{
	color: #ffffff;
}

/* хром, сафари */
.main-header::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.main-header { -ms-overflow-style: none; }

.main-header { overflow: -moz-scrollbars-none; }


.main-header h2 {
	font-family: ;
	font-size: 60px;
	text-align: center;
	font-weight: 700;
	padding-top: 20px;
	font-family: "Righteous", sans-serif;
}
.main-header span {
	color: #3e84da;
	transition: 0.3s;
	font-family: "Righteous", sans-serif;
}
.main-header span:hover {
	color: #ffcc00;
}

.main-header strong {
	font-family: Righteous;
}

.main-header h3 {
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	margin-top: 100px;

}

.main-header p {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.7;
}
.main-links {
	text-align: center;
	font-size: 9pt;
	margin-bottom: 40px;

}

.link {
	display: inline-block;
	margin: 30px;
}

.link a {
	color: #ffffff;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	background-color: rgba(100,100,100,.4); 
}

.link a:hover {
	background-color: rgba(100,100,100,.8); 
}

.project {
	background-color: #3e84da;
	padding-top: 30px;
	padding-bottom: 90px;
	color: #ffffff;
}

.project h2 {
	font-size:  55px;
	text-align: center;
	padding-top: 80px;

}

.project-features {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.feature {
	margin: 0px;
	padding: 0 25px;
}

.feature h3 {
	margin-top: 50px;
	font-size: 60px;
	color: #ffffff;
}
.feature h3:hover {
	color: #ffcc00;

}
.feature h4 {
	font-size: 20px;
}
.feature p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
}

.about h2 {
	margin-top: 100px;
	font-size: 55px;
	text-align: center;
}

.about p {
	font-size: 20px;
	font-weight: 300;
	text-align: justify;
}

.person img {
	width: 220px;
	border-radius: 50%;
}
.person h3{
	color: #212326;
	font-size: 22px;
}
.person p {
	text-align: center;
	font-size: 16px;
}
.persons {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 30px;
}

.about-person {
	background-color: #3e84da;
	color: #ffffff;
	padding-bottom: 90px;
}
.about-person h2 {
	padding-top: 120px;
	margin-bottom: 70px;
}
.about-us {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.about-us-left {
	width: 40%;
	display: inline-block;
	line-height: 1.6;
}
.about-us-right {
	width: 58%;
	display: inline-block;
	height: 400px;
}
.contacts {
	background: url(../img/bg-contact.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 100px;
}

.log-up {
	background: #768AAE;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	padding-bottom: 200px;
	padding-top: 100px;
}

.input-reg {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.log-up button {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#reg-logo {
	color: #fff;
	text-shadow: 0 0 20px rgba(0,0,0,0.5);; 
	transition: 0.7s;
}

#reg-logo h2:hover {
	text-shadow: 0 0 20px rgba(200,200,200,.6);
}

#reg-logo p:hover {
	text-shadow: 0 0 20px rgba(200,200,200,.6);
}

.contacts-logo h2 {
	font-size: 55px;
	text-align: center;
}

.input-reg {
	width: 45vh;
	height: 50px;
	padding: 5px 15px;
	border: none;
	border-radius: 10px;
	display: block;
	margin-top: 12px;
	font-size: 20px;
	font-weight: 300;
}


.contacts-logo h2 {
	font-size: 55px;
	text-align: center;
}

.input-contact {
	width: 400px;
	height: 50px;
	padding: 5px 15px;
	border: none;
	border-radius: 10px;
	display: block;
	margin-top: 12px;
	font-size: 20px;
	font-weight: 300;
}
.contacts-logo p {
	text-align: center;
	font-size: 28px;
}
.contacts-right textarea {
	margin-top: 12px;
	padding: 10px 15px;
	width: 400px;
	height: 250px;
	border: none;
	border-radius: 10px;
	font-size: 16pt;
	font-weight: 300;
	text-align: left;
}
.contacts-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin-top: 55px;
}
.contacts-button {
	display: block;
	background-color: #ffcc00;
	border: none;
	padding: 20px 60px;
	font-size: 16px;
	margin: 12px 0;
	border-radius: 10px;
	cursor: pointer;
}
.contacts-button:hover {
	color: #fff;
}
.contacts-left p {
	font-size: 25px;
	line-height: 0.9;

}
footer {
	padding: 5px;
	background: #212326;
	color: #ffffff;
}
footer p{
	line-height: 2.5;
}
.wrapper-footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.wrapper-footer p strong {
	font-family: Righteous;

}
.footer-nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.footer-nav li {
	margin: 10px 20px 0 20px;
}

.footer-nav a {
	color: #fff;
}
.footer-nav a:hover {
	color: #ffcc00;
}
.footer-links ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer-links li {
	margin-left: 20px;
	font-size: 30px;

}

.footer-links a {
	color: #fff;
}
.footer-links a:hover{
	color: #ffcc00;
}

	.reg-button {
		display: block;
		background-color: #ffcc00;
		border: none;
		padding: 20px 60px;
		font-size: 16px;
		margin: 12px 0;
		margin-bottom: 50px;
		border-radius: 10px;
		cursor: pointer;
	}


/*Модальное окно*/
.popup {
	display: none;
	position: fixed;
	transform: translateY(-15%);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 120%;
	z-index: 9;
	background-color: rgba(0, 0, 0,0.5);
	transition: 0.4s;
}

/*	.popup-content {
		overflow: scroll;
	}

	/* хром, сафари */
/*	.popup-content::-webkit-scrollbar { width: 0; }

	/* ie 10+ */
/*	.popup-content { -ms-overflow-style: none; }

	.popup-content { overflow: -moz-scrollbars-none; } */

.popup-content {
	left: 50%;
	top: 25%;
	background-color: #fff;
	transform: translateX(-50%);
	width: 400px;
	height: 500px;
	position: fixed;
	font-size: 20px;
	text-align: center;
	background-color: #3e84da;
	border: 1px solid #212326; 
	color: #ffffff;
}
.popup-form{
	margin-top: 20px;
}
.popup-close {
	position: absolute;
	color: #000;
	background-color: transparent;
	border: none;
	font-size: 32px;
	right: 14px;
	top: 14px;
}
.popup-close:hover {
	color: #fff;

}
.popup-form-btn {
	margin-top: 15px;
	width: 280px;
	height: 38px;
	text-align: center;
	left: 50%;
	border-radius: 5px;
	border: none;
	text-align: left;
	padding: 2px 15px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.login-btn {
	background-color: #ffcc00;
	border: none;
	width: 100px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	margin-top: 35px;
	cursor: pointer;
}
.login-btn:hover {
	opacity: 0.9;

}
.reg-btn {
	width: 200px;
	margin-top: 0px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}



.popup-content a {
	display: inline-block;
	margin: 15px ;
	color: #fff;
	text-align: center;
}
.popup-content p {
	margin-top: 10px;
}
.popup-header{
	margin-top: 35px;
	font-size: 30px;
}
.popup-content a:hover {
	color: #ffcc00;
	opacity: 0.9;
}

.radio {
	color: #fff;
	margin: 15px;
	display: block;
	vertical-align: 0px;
}

@media screen and (max-width: 1020px) {
	.top-nav {
		position: relative;
	}
	.top-nav ul {
		display: none;
		transition: 0.5s;
	}
	.icon {
		right: 10%;
		top: 8px;
		position: fixed;
		display: block;
		font-size: 35px;
	}
	.icon p {
	   font-size: 30px;
	   margin: 0;
	}
	.main-header{
		display: grid;
		grid-template-columns: auto;
	}
	.main-links {
		margin-bottom: 50px;
	}
	.link {
		margin-top: 50px;
	}
	.project-features {
		display: grid;
		grid-template-columns: auto;
	}
	.about-us {
		display: grid;
		grid-template-columns: auto;
	}
	.about-us-right {
		display: none;

	}
	.about-us-left {
		width: 100%;
	}
	.persons {
		display: grid;
		grid-template-columns: auto;
	}
	.person {
		margin-top: 50px;
	}
	.person img {
		width: 200px;
	}

	.about-person h2 {
		font-size: 25pt;
	}

	.contacts-logo h2{
		font-size: 27pt;
	}

	.contacts-box {
		display: grid;
		grid-template-columns: auto;
		text-align: center;
	}

	.contacts-form {
		display: block;
	}

	.contacts-right{
		margin-top: 50px;
	}
	.contacts-button{
		left: 20%;/*
		transform: translateX(40%);*/
		margin-top: 40px;
	}

	.input-contact {
		width: 50vw;
		font-size: 10pt; 
	}

	.contacts-right textarea {
		width: 50vw;
		height: 15vh;
		font-size: 11pt;
	}


	.contacts-form {
		padding: 0;
	}

	.footer-nav{
		display: none;
		padding: 0;
	}
	.wrapper-footer {
		display: grid;
		grid-template-columns: auto auto;
		padding: 0;
	}
	.footer-links li {
		font-size: 25px;
	}
	.wrapper-footer p {
		font-size: 15px;
		line-height: 2;

	}
	.top-nav-active ul {
		margin-top: 40px;
		display: inline-block;
	
	}
	.top-nav-active li {
		text-align: right;
		margin-top: 25px;

		margin-right: 0px;
		transition: 0.5s;

	}

	.top-nav-active li a.popup-btn {
		margin-top: 50px;
	}

	.input-reg {
		width: 220px;
		height: 50px;
		padding: 10px 10px;
		border: none;
		border-radius: 10px;
		display: block;
		margin-top: 25px;
		margin-left: 35px;
		margin-right: 25
		font-size: 15px;
		font-weight: 300;
	}

	.log-up {
		overflow: scroll;
	}

	/* хром, сафари */
	.log-up::-webkit-scrollbar { width: 0; }

	/* ie 10+ */
	.log-up { -ms-overflow-style: none; }

	.log-up { overflow: -moz-scrollbars-none; }

	.log-up button{
		width: 220px;
		margin-left: 35px;
		margin-top: 25px;
		margin-bottom: 50px;
		padding: 20px 10px;
		text-align: left;		
	}

	.reg-button {
		width: 220px;
		margin-left: 35px;
		margin-top: 25px;
		margin-bottom: 50px
		padding-left: -30px;
		text-align: left;
	}

	.popup-form-btn {
		width: 40vh;
	}

	.popup-header{
		margin-top: 25px;
		font-size: 28px;
	}

	.popup-content p {
		font-size: 10pt; 
	}

	.popup-form{
		margin-top: 0px;
	}

	
}